/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#navbar {
  text-decoration: none;
  display: inline-block;
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
  font-size: 30px;
  width: 100%;
}

#art-beat {
  text-decoration: none;
  display: inline-block;
  color: #b486ff;
  float: left;
}

#galleries {
  display: inline-block;
  color: #fd8cff;
  float: right;
}

#login {
  display: inline-block;
  color: #85f5f9;
  float: right;
}

#pieces {
  display: inline-block;
  color: #7cbafd;
  float: right;
}

#artists {
  display: inline-block;
  color: #fdabc7;
  float: right;
}

img {
  width:300px;
  height:400px;
}


h2 {
  text-decoration: none;
}
