

<div id='piece-view'><img src="<%=@piece.picture%>"></div>

<h2><%=@piece.piece_name%></h2>

<h2><%=@piece.piece_description%></h2>

<h2><%="From #{@profile.name}'s #{@gallery.gallery_name} gallery"%></h2>
