<div id='show-galleries'>
  <div id='piece'> insert set interval for rotating through pieces</div>
</div>

<div id="view area">
  <div id="welcome-gallery">
    <div id="painting"><img src="/assets/IMG_0968.JPG" alt="painting"></div>
    <div id="painting"><img src="/assets/IMG_0969.JPG" alt="painting"></div>
    <div id="painting"><img src="/assets/IMG_0971.JPG" alt="painting"></div>
    <div id="painting"><img src="/assets/IMG_0972.JPG" alt="painting"></div>
    <div id="painting"><img src="/assets/IMG_0973.JPG" alt="painting"></div>
    <div id="painting"><img src="/assets/IMG_0974.JPG" alt="painting"></div>
    <div id="painting"><img src="/assets/IMG_0975.JPG" alt="painting"></div>
    <div id="painting"><img src="/assets/IMG_0976.JPG" alt="painting"></div>
    <div id="painting"><img src="/assets/IMG_0977.JPG" alt="painting"></div>
  </div>
